<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Verify your email address</title>
  <style type="text/css" rel="stylesheet" media="all">
    /* Base ------------------------------ */
    *:not(br):not(tr):not(html) {
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    body {
      width: 100% !important;
      height: 100%;
      margin: 0;
      line-height: 1.4;
      background-color: #F5F7F9;
      color: #839197;
      -webkit-text-size-adjust: none;
    }
    a {
      color: #414EF9;
    }
    /* Layout ------------------------------ */
    .email-wrapper {
      width: 100%;
      margin: 0;
      padding: 0;
      background-color: #F5F7F9;
    }
    .email-content {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    /* Masthead ----------------------- */
    .email-masthead {
      padding: 25px 0;
      text-align: center;
    }
    .email-masthead_logo {
      max-width: 400px;
      border: 0;
    }
    .email-masthead_name {
      font-size: 16px;
      font-weight: bold;
      color: #839197;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
    }
    /* Body ------------------------------ */
    .email-body {
      width: 100%;
      margin: 0;
      padding: 0;
      border-top: 1px solid #E7EAEC;
      border-bottom: 1px solid #E7EAEC;
      background-color: #FFFFFF;
    }
    .email-body_inner {
      width: 570px;
      margin: 0 auto;
      padding: 0;
    }
    .email-footer {
      width: 570px;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }
    .email-footer p {
      color: #839197;
    }
    .body-action {
      width: 100%;
      margin: 30px auto;
      padding: 0;
      text-align: center;
    }
    .body-sub {
      margin-top: 25px;
      padding-top: 25px;
      border-top: 1px solid #E7EAEC;
    }
    .content-cell {
      padding: 35px;
    }
    .align-right {
      text-align: right;
    }
    /* Type ------------------------------ */
    h1 {
      margin-top: 0;
      color: #292E31;
      font-size: 19px;
      font-weight: bold;
      text-align: left;
    }
    h2 {
      margin-top: 0;
      color: #292E31;
      font-size: 16px;
      font-weight: bold;
      text-align: left;
    }
    h3 {
      margin-top: 0;
      color: #292E31;
      font-size: 14px;
      font-weight: bold;
      text-align: left;
    }
    p {
      margin-top: 0;
      color: #839197;
      font-size: 16px;
      line-height: 1.5em;
      text-align: left;
    }
    p.sub {
      font-size: 12px;
    }
    p.center {
      text-align: center;
    }
    /* Buttons ------------------------------ */
    .button {
      display: inline-block;
      width: 200px;
      background-color: #414EF9;
      border-radius: 3px;
      color: #ffffff;
      font-size: 15px;
      line-height: 45px;
      text-align: center;
      text-decoration: none;
      -webkit-text-size-adjust: none;
      mso-hide: all;
    }
    .button--green {
      background-color: #28DB67;
    }
    .button--red {
      background-color: #FF3665;
    }
    .button--blue {
      background-color: #414EF9;
    }
    /*Media Queries ------------------------------ */
    @media only screen and (max-width: 600px) {
      .email-body_inner,
      .email-footer {
        width: 100% !important;
      }
    }
    @media only screen and (max-width: 500px) {
      .button {
        width: 100% !important;
      }
    }
  </style>
</head>
<body>
  <table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center">
        <table class="email-content" width="100%" cellpadding="0" cellspacing="0">
          <!-- Logo -->
          <tr>
            <td class="email-masthead">
              <!-- <a class="email-masthead_name">{{app_name}}</a> -->
              <img width="300" src="{{host}}/images/codosa-land.png"/>

            </td>
          </tr>
          <!-- Email Body -->
          <tr>
            <td class="email-body" width="100%">
              <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
                <!-- Body content -->
                <tr>
                  <td class="content-cell">
                    <h1>Xác minh email</h1>
                    <p>Cảm ơn bạn đã đăng ký tài khoản {{app_name}}! Để đảm bảo an toàn, bạn vui lòng nhấn vào nút bên dưới để xác thực email.</p>
                    <!-- Action -->
                    <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
                      <tr>
                        <td align="center">
                          <div>
                            <!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{{{action_url}}}}" style="height:45px;v-text-anchor:middle;width:200px;" arcsize="7%" stroke="f" fill="t">
                            <v:fill type="tile" color="#414EF9" />
                            <w:anchorlock/>
                            <center style="color:#ffffff;font-family:sans-serif;font-size:15px;">Verify Email</center>
                          </v:roundrect><![endif]-->
                            <a href="{{action_url}}"  style="color: white;" class="button button--blue">Xác thực</a>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <p>Cảm ơn,<br>Nhóm {{app_name}} </p>
                    <!-- Sub copy -->
                    <table class="body-sub">
                      <tr>
                        <td>
                          <p class="sub">Nếu bạn không thể nhấn nút trên, vui lòng copy và dán link sau vào trình duyệt.
                          </p>
                          <p class="sub"><a href="{{action_url}}">{{action_url}}</a></p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-cell">
                    <p class="sub center">
                      <!-- Canvas Labs, Inc.
                      <br>325 9th St, San Francisco, CA 94103 -->
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div class="u-row-container" style="padding: 0px; background-color: transparent">
    <div
      class="u-row"
      style="
        margin: 0 auto;
        min-width: 320px;
        max-width: 600px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        background-color: transparent;
      "
    >
      <div
        style="
          border-collapse: collapse;
          display: table;
          width: 100%;
          background-color: transparent;
        "
      >
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding: 0px;background-color: transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr style="background-color: transparent;"><![endif]-->

        <!--[if (mso)|(IE)]><td align="center" width="600" style="width: 600px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top"><![endif]-->
        <div
          class="u-col u-col-100"
          style="
            max-width: 320px;
            min-width: 600px;
            display: table-cell;
            vertical-align: top;
          "
        >
          <div style="width: 100% !important">
            <!--[if (!mso)&(!IE)]><!--><div
              style="
                padding: 0px;
                border-top: 0px solid transparent;
                border-left: 0px solid transparent;
                border-right: 0px solid transparent;
                border-bottom: 0px solid transparent;
              "
            ><!--<![endif]-->
              <table
                style="font-family: arial, helvetica, sans-serif"
                role="presentation"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                border="0"
              >
                <tbody>
                  <tr>
                    <td
                      style="
                        overflow-wrap: break-word;
                        word-break: break-word;
                        padding: 30px;
                        font-family: arial, helvetica, sans-serif;
                      "
                      align="left"
                    >
                      <table
                        height="0px"
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                        style="
                          border-collapse: collapse;
                          table-layout: fixed;
                          border-spacing: 0;
                          mso-table-lspace: 0pt;
                          mso-table-rspace: 0pt;
                          vertical-align: top;
                          border-top: 0px solid #bbbbbb;
                          -ms-text-size-adjust: 100%;
                          -webkit-text-size-adjust: 100%;
                        "
                      >
                        <tbody>
                          <tr style="vertical-align: top">
                            <td
                              style="
                                word-break: break-word;
                                border-collapse: collapse !important;
                                vertical-align: top;
                                font-size: 0px;
                                line-height: 0px;
                                mso-line-height-rule: exactly;
                                -ms-text-size-adjust: 100%;
                                -webkit-text-size-adjust: 100%;
                              "
                            >
                              <span>&#160;</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!--[if (!mso)&(!IE)]><!-->
            </div>
            <!--<![endif]-->
          </div>
        </div>
        <!--[if (mso)|(IE)]></td><![endif]-->
        <!--[if (mso)|(IE)]></tr></table></td></tr></table><![endif]-->
      </div>
    </div>
  </div>

  <div class="u-row-container" style="padding: 0px; background-color: transparent">
    <div
      class="u-row"
      style="
        margin: 0 auto;
        min-width: 320px;
        max-width: 600px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        background-color: #efefef;
      "
    >
      <div
        style="
          border-collapse: collapse;
          display: table;
          width: 100%;
          background-color: transparent;
        "
      >
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding: 0px;background-color: transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr style="background-color: #efefef;"><![endif]-->

        <!--[if (mso)|(IE)]><td align="center" width="600" style="width: 600px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top"><![endif]-->
        <div
          class="u-col u-col-100"
          style="
            max-width: 320px;
            min-width: 600px;
            display: table-cell;
            vertical-align: top;
          "
        >
          <div style="width: 100% !important">
            <!--[if (!mso)&(!IE)]><!--><div
              style="
                padding: 0px;
                border-top: 0px solid transparent;
                border-left: 0px solid transparent;
                border-right: 0px solid transparent;
                border-bottom: 0px solid transparent;
              "
            ><!--<![endif]-->
              <table
                style="font-family: arial, helvetica, sans-serif"
                role="presentation"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                border="0"
              >
                <tbody>
                  <tr>
                    <td
                      style="
                        overflow-wrap: break-word;
                        word-break: break-word;
                        padding: 10px;
                        font-family: arial, helvetica, sans-serif;
                      "
                      align="left"
                    >
                      <table
                        height="0px"
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                        style="
                          border-collapse: collapse;
                          table-layout: fixed;
                          border-spacing: 0;
                          mso-table-lspace: 0pt;
                          mso-table-rspace: 0pt;
                          vertical-align: top;
                          border-top: 0px solid #bbbbbb;
                          -ms-text-size-adjust: 100%;
                          -webkit-text-size-adjust: 100%;
                        "
                      >
                        <tbody>
                          <tr style="vertical-align: top">
                            <td
                              style="
                                word-break: break-word;
                                border-collapse: collapse !important;
                                vertical-align: top;
                                font-size: 0px;
                                line-height: 0px;
                                mso-line-height-rule: exactly;
                                -ms-text-size-adjust: 100%;
                                -webkit-text-size-adjust: 100%;
                              "
                            >
                              <span>&#160;</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!--[if (!mso)&(!IE)]><!-->
            </div>
            <!--<![endif]-->
          </div>
        </div>
        <!--[if (mso)|(IE)]></td><![endif]-->
        <!--[if (mso)|(IE)]></tr></table></td></tr></table><![endif]-->
      </div>
    </div>
  </div>

  <div class="u-row-container" style="padding: 0px; background-color: transparent">
    <div
      class="u-row"
      style="
        margin: 0 auto;
        min-width: 320px;
        max-width: 600px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        background-color: #efefef;
      "
    >
      <div
        style="
          border-collapse: collapse;
          display: table;
          width: 100%;
          background-color: transparent;
        "
      >
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding: 0px;background-color: transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr style="background-color: #efefef;"><![endif]-->

        <!--[if (mso)|(IE)]><td align="center" width="200" style="width: 200px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top"><![endif]-->
        <div
          class="u-col u-col-33p33"
          style="
            max-width: 320px;
            min-width: 200px;
            display: table-cell;
            vertical-align: top;
          "
        >
          <div style="width: 100% !important">
            <!--[if (!mso)&(!IE)]><!--><div
              style="
                padding: 0px;
                border-top: 0px solid transparent;
                border-left: 0px solid transparent;
                border-right: 0px solid transparent;
                border-bottom: 0px solid transparent;
              "
            ><!--<![endif]-->
              <table
                id="u_content_image_3"
                style="font-family: arial, helvetica, sans-serif"
                role="presentation"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                border="0"
              >
                <tbody>
                  <tr>
                    <td
                      style="
                        overflow-wrap: break-word;
                        word-break: break-word;
                        padding: 30px 10px 10px 15px;
                        font-family: arial, helvetica, sans-serif;
                      "
                      align="left"
                    >
                      <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                          <td
                            class="v-text-align"
                            style="padding-right: 0px; padding-left: 0px"
                            align="center"
                          >
                            <img
                              align="center"
                              border="0"
                              src="images/image-5.png"
                              alt="Image"
                              title="Image"
                              style="
                                outline: none;
                                text-decoration: none;
                                -ms-interpolation-mode: bicubic;
                                clear: both;
                                display: inline-block !important;
                                border: none;
                                height: auto;
                                float: none;
                                width: 65%;
                                max-width: 113.75px;
                              "
                              width="113.75"
                              class="v-src-width v-src-max-width"
                            />
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!--[if (!mso)&(!IE)]><!-->
            </div>
            <!--<![endif]-->
          </div>
        </div>
        <!--[if (mso)|(IE)]></td><![endif]-->
        <!--[if (mso)|(IE)]><td align="center" width="200" style="width: 200px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top"><![endif]-->
        <div
          class="u-col u-col-33p33"
          style="
            max-width: 320px;
            min-width: 200px;
            display: table-cell;
            vertical-align: top;
          "
        >
          <div style="width: 100% !important">
            <!--[if (!mso)&(!IE)]><!--><div
              style="
                padding: 0px;
                border-top: 0px solid transparent;
                border-left: 0px solid transparent;
                border-right: 0px solid transparent;
                border-bottom: 0px solid transparent;
              "
            ><!--<![endif]-->
              <!--[if (!mso)&(!IE)]><!-->
            </div>
            <!--<![endif]-->
          </div>
        </div>
        <!--[if (mso)|(IE)]></td><![endif]-->
        <!--[if (mso)|(IE)]><td align="center" width="200" style="width: 200px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top"><![endif]-->
        <div
          class="u-col u-col-33p33"
          style="
            max-width: 320px;
            min-width: 200px;
            display: table-cell;
            vertical-align: top;
          "
        >
          <div style="width: 100% !important">
            <!--[if (!mso)&(!IE)]><!--><div
              style="
                padding: 0px;
                border-top: 0px solid transparent;
                border-left: 0px solid transparent;
                border-right: 0px solid transparent;
                border-bottom: 0px solid transparent;
              "
            ><!--<![endif]-->
              <table
                id="u_content_text_7"
                style="font-family: arial, helvetica, sans-serif"
                role="presentation"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                border="0"
              >
                <tbody>
                  <tr>
                    <td
                      style="
                        overflow-wrap: break-word;
                        word-break: break-word;
                        padding: 10px 10px 0px;
                        font-family: arial, helvetica, sans-serif;
                      "
                      align="left"
                    >
                      <div
                        class="v-text-align"
                        style="line-height: 140%; text-align: left; word-wrap: break-word"
                      >
                        <p style="font-size: 14px; line-height: 140%">
                          <span
                            style="
                              font-size: 20px;
                              line-height: 28px;
                              font-family: helvetica, sans-serif;
                            "
                            >12345678</span
                          >
                        </p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <table
                id="u_content_text_8"
                style="font-family: arial, helvetica, sans-serif"
                role="presentation"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                border="0"
              >
                <tbody>
                  <tr>
                    <td
                      style="
                        overflow-wrap: break-word;
                        word-break: break-word;
                        padding: 8px 10px 0px;
                        font-family: arial, helvetica, sans-serif;
                      "
                      align="left"
                    >
                      <div
                        class="v-text-align"
                        style="line-height: 140%; text-align: left; word-wrap: break-word"
                      >
                        <p style="font-size: 14px; line-height: 140%">
                          <span
                            style="
                              font-size: 14px;
                              line-height: 19.6px;
                              font-family: helvetica, sans-serif;
                              color: #47d8d5;
                            "
                            ><a
                              style="color: #47d8d5"
                              href="mailto:your@mail.com"
                              target="_blank"
                              rel="noopener"
                              >your@mail.com</a
                            ></span
                          >
                        </p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <table
                style="font-family: arial, helvetica, sans-serif"
                role="presentation"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                border="0"
              >
                <tbody>
                  <tr>
                    <td
                      style="
                        overflow-wrap: break-word;
                        word-break: break-word;
                        padding: 10px 10px 10px 0px;
                        font-family: arial, helvetica, sans-serif;
                      "
                      align="left"
                    >
                      <div align="center">
                        <div style="display: table; max-width: 175px">
                          <!--[if (mso)|(IE)]><table width="175" cellpadding="0" cellspacing="0" border="0"><tr><td style="border-collapse:collapse;" align="center"><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace: 0pt;mso-table-rspace: 0pt; width:175px;"><tr><![endif]-->

                          <!--[if (mso)|(IE)]><td width="32" style="width:32px; padding-right: 12px;" valign="top"><![endif]-->
                          <table
                            align="left"
                            border="0"
                            cellspacing="0"
                            cellpadding="0"
                            width="32"
                            height="32"
                            style="
                              border-collapse: collapse;
                              table-layout: fixed;
                              border-spacing: 0;
                              mso-table-lspace: 0pt;
                              mso-table-rspace: 0pt;
                              vertical-align: top;
                              margin-right: 12px;
                            "
                          >
                            <tbody>
                              <tr style="vertical-align: top">
                                <td
                                  align="left"
                                  valign="middle"
                                  style="
                                    word-break: break-word;
                                    border-collapse: collapse !important;
                                    vertical-align: top;
                                  "
                                >
                                  <a href="https://rss.com/" title="RSS" target="_blank">
                                    <img
                                      src="images/image-1.png"
                                      alt="RSS"
                                      title="RSS"
                                      width="32"
                                      style="
                                        outline: none;
                                        text-decoration: none;
                                        -ms-interpolation-mode: bicubic;
                                        clear: both;
                                        display: block !important;
                                        border: none;
                                        height: auto;
                                        float: none;
                                        max-width: 32px !important;
                                      "
                                    />
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <!--[if (mso)|(IE)]></td><![endif]-->

                          <!--[if (mso)|(IE)]><td width="32" style="width:32px; padding-right: 12px;" valign="top"><![endif]-->
                          <table
                            align="left"
                            border="0"
                            cellspacing="0"
                            cellpadding="0"
                            width="32"
                            height="32"
                            style="
                              border-collapse: collapse;
                              table-layout: fixed;
                              border-spacing: 0;
                              mso-table-lspace: 0pt;
                              mso-table-rspace: 0pt;
                              vertical-align: top;
                              margin-right: 12px;
                            "
                          >
                            <tbody>
                              <tr style="vertical-align: top">
                                <td
                                  align="left"
                                  valign="middle"
                                  style="
                                    word-break: break-word;
                                    border-collapse: collapse !important;
                                    vertical-align: top;
                                  "
                                >
                                  <a
                                    href="https://github.com/"
                                    title="GitHub"
                                    target="_blank"
                                  >
                                    <img
                                      src="images/image-4.png"
                                      alt="GitHub"
                                      title="GitHub"
                                      width="32"
                                      style="
                                        outline: none;
                                        text-decoration: none;
                                        -ms-interpolation-mode: bicubic;
                                        clear: both;
                                        display: block !important;
                                        border: none;
                                        height: auto;
                                        float: none;
                                        max-width: 32px !important;
                                      "
                                    />
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <!--[if (mso)|(IE)]></td><![endif]-->

                          <!--[if (mso)|(IE)]><td width="32" style="width:32px; padding-right: 12px;" valign="top"><![endif]-->
                          <table
                            align="left"
                            border="0"
                            cellspacing="0"
                            cellpadding="0"
                            width="32"
                            height="32"
                            style="
                              border-collapse: collapse;
                              table-layout: fixed;
                              border-spacing: 0;
                              mso-table-lspace: 0pt;
                              mso-table-rspace: 0pt;
                              vertical-align: top;
                              margin-right: 12px;
                            "
                          >
                            <tbody>
                              <tr style="vertical-align: top">
                                <td
                                  align="left"
                                  valign="middle"
                                  style="
                                    word-break: break-word;
                                    border-collapse: collapse !important;
                                    vertical-align: top;
                                  "
                                >
                                  <a
                                    href="https://skype.com/"
                                    title="Skype"
                                    target="_blank"
                                  >
                                    <img
                                      src="images/image-2.png"
                                      alt="Skype"
                                      title="Skype"
                                      width="32"
                                      style="
                                        outline: none;
                                        text-decoration: none;
                                        -ms-interpolation-mode: bicubic;
                                        clear: both;
                                        display: block !important;
                                        border: none;
                                        height: auto;
                                        float: none;
                                        max-width: 32px !important;
                                      "
                                    />
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <!--[if (mso)|(IE)]></td><![endif]-->

                          <!--[if (mso)|(IE)]><td width="32" style="width:32px; padding-right: 0px;" valign="top"><![endif]-->
                          <table
                            align="left"
                            border="0"
                            cellspacing="0"
                            cellpadding="0"
                            width="32"
                            height="32"
                            style="
                              border-collapse: collapse;
                              table-layout: fixed;
                              border-spacing: 0;
                              mso-table-lspace: 0pt;
                              mso-table-rspace: 0pt;
                              vertical-align: top;
                              margin-right: 0px;
                            "
                          >
                            <tbody>
                              <tr style="vertical-align: top">
                                <td
                                  align="left"
                                  valign="middle"
                                  style="
                                    word-break: break-word;
                                    border-collapse: collapse !important;
                                    vertical-align: top;
                                  "
                                >
                                  <a
                                    href="https://telegram.org/"
                                    title="Telegram"
                                    target="_blank"
                                  >
                                    <img
                                      src="images/image-3.png"
                                      alt="Telegram"
                                      title="Telegram"
                                      width="32"
                                      style="
                                        outline: none;
                                        text-decoration: none;
                                        -ms-interpolation-mode: bicubic;
                                        clear: both;
                                        display: block !important;
                                        border: none;
                                        height: auto;
                                        float: none;
                                        max-width: 32px !important;
                                      "
                                    />
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <!--[if (mso)|(IE)]></td><![endif]-->

                          <!--[if (mso)|(IE)]></tr></table></td></tr></table><![endif]-->
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!--[if (!mso)&(!IE)]><!-->
            </div>
            <!--<![endif]-->
          </div>
        </div>
        <!--[if (mso)|(IE)]></td><![endif]-->
        <!--[if (mso)|(IE)]></tr></table></td></tr></table><![endif]-->
      </div>
    </div>
  </div>

  <div class="u-row-container" style="padding: 0px; background-color: transparent">
    <div
      class="u-row"
      style="
        margin: 0 auto;
        min-width: 320px;
        max-width: 600px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        background-color: #efefef;
      "
    >
      <div
        style="
          border-collapse: collapse;
          display: table;
          width: 100%;
          background-color: transparent;
        "
      >
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding: 0px;background-color: transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr style="background-color: #efefef;"><![endif]-->

        <!--[if (mso)|(IE)]><td align="center" width="600" style="width: 600px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top"><![endif]-->
        <div
          class="u-col u-col-100"
          style="
            max-width: 320px;
            min-width: 600px;
            display: table-cell;
            vertical-align: top;
          "
        >
          <div style="width: 100% !important">
            <!--[if (!mso)&(!IE)]><!--><div
              style="
                padding: 0px;
                border-top: 0px solid transparent;
                border-left: 0px solid transparent;
                border-right: 0px solid transparent;
                border-bottom: 0px solid transparent;
              "
            ><!--<![endif]-->
              <table
                style="font-family: arial, helvetica, sans-serif"
                role="presentation"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                border="0"
              >
                <tbody>
                  <tr>
                    <td
                      style="
                        overflow-wrap: break-word;
                        word-break: break-word;
                        padding: 10px;
                        font-family: arial, helvetica, sans-serif;
                      "
                      align="left"
                    >
                      <table
                        height="0px"
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                        style="
                          border-collapse: collapse;
                          table-layout: fixed;
                          border-spacing: 0;
                          mso-table-lspace: 0pt;
                          mso-table-rspace: 0pt;
                          vertical-align: top;
                          border-top: 0px solid #bbbbbb;
                          -ms-text-size-adjust: 100%;
                          -webkit-text-size-adjust: 100%;
                        "
                      >
                        <tbody>
                          <tr style="vertical-align: top">
                            <td
                              style="
                                word-break: break-word;
                                border-collapse: collapse !important;
                                vertical-align: top;
                                font-size: 0px;
                                line-height: 0px;
                                mso-line-height-rule: exactly;
                                -ms-text-size-adjust: 100%;
                                -webkit-text-size-adjust: 100%;
                              "
                            >
                              <span>&#160;</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!--[if (!mso)&(!IE)]><!-->
            </div>
            <!--<![endif]-->
          </div>
        </div>
        <!--[if (mso)|(IE)]></td><![endif]-->
        <!--[if (mso)|(IE)]></tr></table></td></tr></table><![endif]-->
      </div>
    </div>
  </div>
</body>
</html>